.content {
    padding: rem-calc(15) 0 0;
    max-width: 100%;
    overflow-x: hidden;

    &__date {
        text-align: center;
        width: 100%;
        max-width: rem-calc(300);
        margin: 0 auto;
        position: relative;
        padding-bottom: rem-calc(5); 

        &:before {
            position: absolute;
            height: 1px;
            left: 0;
            bottom: 0;
            width: 100%;
            display: block;
            content: '';
            background: linear-gradient(to right, $body-background, $light-green, $body-background);
        }
    }

    &__welcome {
        margin-top: rem-calc(10);
        font-size: rem-calc(20);
        text-align: center;
    }
}
