$body-background: #094F69;
$body-font-color: #fff;
$light-green: #93F36F;
$light-blue: #20A8DC;
$border-color: #3DC1F0;

$header-styles: (
  small: (
    'h2': ('font-size': 19)
  ),
  medium: (
    'h2': ('font-size': 31)
  ),
);
