<section class="content" id="content">
  <div class="grid-container fluid">
    <p class="content__date"><strong>{{year}}</strong></p>
    <p class="content__welcome"><strong>Bem-vindo</strong></p>
  </div>
  {% include './carousel.njk' %}
</section>
