<header class="header">
  <div class="grid-container fluid">
    <h1 class="header__logo"><span class="show-for-sr">Neon</span></h1>
    <h2 class="header__balance"><strong>saldo R${{balance|real}}</strong></h2>
  </div>
</header>
